


/* Logo */
header .navbar-brand img {
  max-height: 100px;
}

.navbar-brand {
  padding-top: 12px;
}

/* Botones */
.btn-outline-primary {
  color: white;
  border-color: #023504;
}

.btn-outline-primary:hover {
  background-color: #2E7D32;
  color: white;
  border-color: #ffffff;
}

.btn-outline-secondary {
  background-color: #f4f8f5;
  color: rgb(5, 104, 35);
  border-color: #061306;
}

.btn-outline-secondary:hover {
  color: rgb(143, 19, 19);
  border-color: #f6f8f6;
}

.btn-outline-danger {
  color: #D32F2F;
  border-color: #D32F2F;
}

.btn-outline-danger:hover {
  background-color: #D32F2F;
  color: white;
  border-color: #D32F2F;
}

/* Texto del saludo */
header .text-muted {
  font-size: 0.95rem;
  color: #fcf9f9 !important;
}

/* Espaciado responsive */
@media (max-width: 768px) {
  header .d-flex {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 0.5rem;
  }
}