nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #eee;
  padding: 1rem;
}

a {
  text-decoration: none;
  font-weight: bold;
}

button {
  background: none;
  border: none;
  color: #c00;
  font-weight: bold;
  cursor: pointer;
}