<nav>
    <a routerLink="/">Inicio</a>
    <a routerLink="/reserva">Reserva</a>
    <!-- Si hay un usuario logueado -->
    <ng-container *ngIf="usuarioLogueado; else noLogueado">
        <!-- Muestra usuario logueado -->
        <span>Bienvenido, {{ usuarioLogueado.email }}</span>
        <!-- Botón logout -->
        <button (click)="logout()">Cerrar sesión</button>
    </ng-container>
    <!-- Si no hay usuario logueado -->
    <ng-template #noLogueado>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Registro</a>
    </ng-template>
</nav>