
<div class="container my-5" style="max-width: 500px;">

<h2 class="text-success text-center mb-4">Verificación de identidad</h2>

<form [formGroup]="verificacionForm" (ngSubmit)="onSubmit()" class="bg-white p-4 rounded shadow">
  
  <div class="mb-3">
  <label class="form-label">Email:</label>
  <input type="email" class="form-control" formControlName="email"><br>
  </div>

  <div class="mb-3">
    <label class="form-label">Contraseña:</label>
    <input type="password" class="form-control" formControlName="password"><br>
  </div>

  <div *ngIf="errorVerificacion" class="form-text text-danger mb-3">
    Email o contraseña incorrectos.
  </div>

  <div class="d-flex justify-content-between">
  <button type="submit" class="btn btn-success" [disabled]="verificacionForm.invalid">Confirmar</button>
  <button type="button" class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
  </div>
</form>

</div>