
<div class="container my-5" style="max-width: 500px;">
    <div class="bg-white p-5 rounded shadow text-center">


    <h2 class="text-success mb-4">¡Nos ha llegado tu reserva!</h2>
    <p>Hemos recibido tu reserva y la estamos procesando.</p>
    <p>Recibirás un correo electrónico con las instrucciones a seguir para completar la reserva.</p>
    <p>Recuerda que puedes ver el estado de la reserva en tu perfil</p>
    <p>Y si tienes alguna pregunta, no dudes en ponerte en contacto con nosotros.</p>
    <p class="mb-4">Gracias por confiar en <strong>HostControl!</strong></p>
    <a routerLink="/" class="btn btn-outline-success">Volver al inicio</a>

    </div>
</div>