<div class="container py-5">
  <h1 class="text-center mb-5">Bienvenido a HostControl</h1>

  <!-- Sección: Bungalows -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="assets/img/bungalow.png" class="img-fluid rounded shadow-sm" alt="Bungalows">
    </div>
    <div class="col-md-6">
      <h2>Bungalows</h2>
      <p>Disfruta de la comodidad de nuestros bungalows totalmente equipados para una estancia perfecta.</p>
      <p>Ideales para familias o parejas que buscan un poco más de confort sin renunciar a la naturaleza.</p>
      <a routerLink="/reserva" class="btn btn-outline-primary mt-2">Reserva ya tu bungalow</a>
    </div>
  </div>
  <!-- Parcelas -->
  <div class="row align-items-center mb-5">
    <div class="col-md-4">
      <img src="assets/img/tienda.png" class="img-fluid rounded shadow-sm" alt="Bungalows">
    </div>
    <div class="col-md-6">
      <h2>Parcelas</h2>
      <p>Disfruta de la comodidad de nuestros bungalows totalmente equipados para una estancia perfecta.</p>
      <p>Ideales para familias o parejas que buscan un poco más de confort sin renunciar a la naturaleza.</p>
      <a routerLink="/reserva" class="btn btn-outline-primary mt-2">Reserva ya tu Parcela</a>
    </div>
  </div>
  <!-- Sección: Servicios -->
  <div class="row align-items-center mb-5">
    <div class="col-md-6 order-md-2">
      <img src="assets/img/picnic.png" class="img-fluid rounded shadow-sm" alt="Servicios">
    </div>
    <div class="col-md-6 order-md-1">
      <h3>Disfruta del entorno</h3>
      <p>Nuestras instalaciones estan completamente equipadas y pensadas para que las disfrutes con los tuyos.</p>
      <p>Todo lo que necesitas para una estancia inolvidable en contacto con la naturaleza.</p>
    </div>
  </div>

  <!-- Botón final -->
  <div class="text-end">
    <a routerLink="/reserva" class="btn btn-outline-primary">Reserva tu alojamiento</a>
  </div>
</div>