<div class="container py-4">
    <h2 class="text-center text-success mb-5">Información de la zona y servicios externos</h2>


    <div class="mb-3 p-3 bg-light rounded shadow-sm text-center">
        <h4 class="text-primary">Rutas y excursiones</h4>
        <p>Explora las rutas naturales más recomendadas de la zona: senderos junto al lago, miradores y caminos
            forestales para todos los niveles.</p>
        <img src="assets/img/Rutas.webp" alt="Rutas de excursión" class="img-fluid rounded my-3"
            style="max-width: 400px;">
        <div>
            <a href="https://info-ficticia.com/Rutas-camping" target="_blank"
                class="btn btn-outline-success btn-sm">¡Queremos excursiones!</a>
        </div>


    </div>

    <div class="mb-3 p-3 bg-light rounded shadow-sm text-center">
        <h4 class="text-primary">Tiendas y servicios cercanos</h4>
        <p>En los alrededores del camping encontrarás supermercados, panaderías, farmacias y tiendas de artículos para
            acampada a pocos minutos caminando.</p>
        <img src="assets/img/tiendas.webp" alt="Tiendas cercanas" class="img-fluid rounded my-3"
            style="max-width: 400px;">
        <div>
            <a href="https://info-ficticia.com/servicios-cercanos" target="_blank"
                class="btn btn-outline-success btn-sm mt-2">¡Vamos de compras!</a>
        </div>
    </div>

    <div class="mb-3 p-3 bg-light rounded shadow-sm text-center">
        <h4 class="text-primary">Restaurantes de la zona</h4>
        <p>Disfruta de la gastronomía local en los restaurantes familiares y bares con terraza del pueblo. Opciones
            vegetarianas y menú para niños, que es lo que mola.</p>
        <img src="assets/img/restaurante.webp" alt="Restaurantes cercanos" class="img-fluid rounded my-3"
            style="max-width: 400px;">
        <div>
            <a href="https://info-ficticia.com/servicios-cercanos" target="_blank"
                class="btn btn-outline-success btn-sm mt-2">¡A comer!</a>
        </div>
    </div>

    <div class="mb-3 p-3 bg-light rounded shadow-sm text-center">
        <h4 class="text-primary">Nuestra piscina!</h4>
        <p>Tenemos piscina! Disfrútala en nuestras instalaciones sin tener que moverte de tu espacio. Ideal para esos
            dias en los que toca descansar y los peques no quieren.</p>
        <img src="assets/img/piscina.webp" alt="Piscina propia" class="img-fluid rounded my-3" style="max-width: 400px;">
        <p>Para disfrutarla, tendrás que reservar. Así que <a routerLink="/reserva" class="btn btn-success">¡A
                reservar!</a></p>

    </div>
    
    <div class="text-center">
        <a routerLink="/" class="btn btn-outline-success">Volver al inicio</a>
    </div>
</div>