<footer class="footer-container">
    <div class="footer-section">
      <h4>Contacto</h4>
      <p><strong>Teléfono:</strong> +34 900 123 456</p>
      <p><strong>Email:</strong> info&#64;campinghostcontrol.com</p>
    </div>
  
    <div class="footer-section">
      <h4>Cómo llegar</h4>
      <p>Dirección 1</p>
      <p>Dirección 2</p>
      <p>Dirección 3</p>
    </div>
  
    <div class="footer-section">
      <h4>Enlaces</h4>
      <a routerLink="/politica-cookies">Política de Cookies</a><br>
      <a routerLink="/sobre-nosotros">Sobre nosotros</a>
      
      
    </div>
  
    <div class="footer-logo">
      <img src="assets/logo.png" alt="Logo del camping" />
    </div>
  </footer>
