
<h2>Modificar datos personales</h2>

<form [formGroup]="modificarForm" (ngSubmit)="onSubmit()">
  <label>Nombre:</label>
  <input type="text" formControlName="first_name"><br>

  <label>Primer apellido:</label>
  <input type="text" formControlName="last_name_1"><br>

  <label>Segundo apellido:</label>
  <input type="text" formControlName="last_name_2"><br>

  <label>Fecha de nacimiento:</label>
  <input type="date" formControlName="birthdate"><br>

  <label>Dirección:</label>
  <input type="text" formControlName="address"><br>

  <label>Teléfono:</label>
  <input type="text" formControlName="phone"><br>

  <button type="submit" [disabled]="modificarForm.invalid">Aceptar</button>
  <button type="button" (click)="cancelar()">Cancelar</button>
</form>