<h2>Perfil de usuario</h2>

<div *ngIf="usuario">
  <p><strong>Nombre:</strong> {{ usuario.first_name }}</p>
  <p><strong>Primer apellido:</strong> {{ usuario.last_name_1 }}</p>
  <p><strong>Segundo apellido:</strong> {{ usuario.last_name_2 }}</p>
  <p><strong>Fecha de nacimiento:</strong> {{ usuario.birthdate }}</p>
  <p><strong>Dirección:</strong> {{ usuario.address }}</p>
  <p><strong>Teléfono:</strong> {{ usuario.phone }}</p>
  <div class="perfil-acciones">
    <button type="button" (click)="irAEditarPerfil()">Modificar datos</button>
    <button type="button" (click)="volverInicio()">Salir</button>
  </div>
</div>

