<h2>Perfil de usuario</h2>

<div *ngIf="usuario">
  <p><strong>Nombre:</strong> {{ usuario.first_name }}</p>
  <p><strong>Primer apellido:</strong> {{ usuario.last_name_1 }}</p>
  <p><strong>Segundo apellido:</strong> {{ usuario.last_name_2 }}</p>
  <p><strong>Fecha de nacimiento:</strong> {{ usuario.birthdate }}</p>
  <p><strong>Dirección:</strong> {{ usuario.address }}</p>
  <p><strong>Teléfono:</strong> {{ usuario.phone }}</p>
  <div class="perfil-acciones">
    <button type="button" (click)="irAEditarPerfil()">Modificar datos</button>
    <button type="button" (click)="volverInicio()">Salir</button>
  </div>
</div>

<!--
<h2>Editar datos personales</h2>

<form [formGroup]="perfilForm">
  <label>Nombre:</label>
  <input type="text" formControlName="first_name"><br>

  <label>Primer apellido:</label>
  <input type="text" formControlName="last_name_1"><br>

  <label>Segundo apellido:</label>
  <input type="text" formControlName="last_name_2"><br>

  <label>Fecha de nacimiento:</label>
  <input type="date" formControlName="birthdate"><br>

  <label>Dirección:</label>
  <input type="text" formControlName="address"><br>

  <label>Teléfono:</label>
  <input type="text" formControlName="phone"><br>
  -- En el boton submit controlamos con [disabled] que el formulario este correcto --
  <button type="button" [disabled]="perfilForm.invalid" (click)="mostrarVerificacion()">Aceptar cambios</button>
  <button type="button" (click)="volverInicio()">Cancelar</button>
</form>


<div *ngIf="mostrarPopup" class="popup">
    <div class="popup-content">
      <h3>Verificación de identidad</h3>
      <form [formGroup]="verificacionForm">
        <label>Email:</label>
        <input type="email" formControlName="email"><br>
  
        <label>Contraseña:</label>
        <input type="password" formControlName="password"><br>
  
        <button type="button" (click)="confirmarCambios()">Confirmar</button>
        <button type="button" (click)="cerrarPopup()">Cancelar</button>
      </form>
    </div>
  </div>
-->

